# Microsoft Kata 8 Administrar datos con diccionarios

## Ejercicio 1: Creación de diccionarios de Python - Crear y modificar un diccionario de Python

Los diccionarios python te permiten modelar datos más complejos. Los diccionarios son una colección de pares clave/valor, y son muy comunes en los programas Python. Su flexibilidad le permite trabajar dinámicamente con valores relacionados sin tener que crear clases u objetos.

Un diccionario se indica en Python mediante el uso de llaves (`{ }`), con pares clave/valor separados por dos puntos (`:`). Las claves son literales de cadena y los valores pueden ser de cualquier tipo de datos.{ }:

```python
demo = {
    'key': 'value',
    'number': 42
}
```

Para este ejercicio, crearás un diccionario que almacene información sobre el planetaaa Marte.

Agrega el código para crear un nuevo diccionario denominado 'planeta'. Rellena con la siguiente información:

```
name: Mars
lunas: 2
```

In [1]:
# Crea un diccionario llamado planeta con los datos propuestos
planeta = {
    'name' : 'Mars',
    'number' : '2'
}

In [2]:
print(planeta)

{'name': 'Mars', 'number': '2'}

Para recuperar valores, puede utilizar el método  `get` o corchetes (`[ ]`) con el nombre de la clave que desea recuperar.

In [3]:
print(planeta.get('name'))

Mars

Muestra el nombre del planeta y el número de lunas que tiene.

In [4]:
print(f'{planeta["name"]} has {planeta["number"]} lunas')

Mars has 2 lunas

Puedes actualizar las claves existentes o crear otras nuevas utilizando el método `update` o entre corchetes (`[ ]`). Cuando se usa `update`, se pasa un nuevo objeto de diccionario con los valores actualizados o nuevos. Cuando se usan corchetes, se especifica el nombre de la clave y se asigna un nuevo valor.


```python
demo['new_key'] = 'New value'
```

Agrega un nuevo valor con una clave de 'circunferencia (km)'. Este nuevo valor debería almacenar un diccionario con las dos circunferencias del planeta:

```
polar: 6752
equatorial: 6792
```

In [5]:
# Agrega la clave circunferencia con los datos proporcionados previamente

planeta['circumference (km)'] = {
    'polar': 6752,
    'equatorial': 6792
}

In [6]:
planeta

{'name': 'Mars',
 'number': '2',
 'circumference (km)': {'polar': 6752, 'equatorial': 6792}}

Imprime el nombre del planeta con su circunferencia polar.

In [7]:
print(f'The {planeta["name"]} has a has a equatorial circumference of {planeta["circumference (km)"]["equatorial"]}')

The Mars has a has a equatorial circumference of 6792

In [8]:
print(f'{planeta["name"]} has a polar circumference of {planeta["circumference (km)"]["polar"]}')

Mars has a polar circumference of 6752

## Ejercicio 2: Programación dinámica con diccionarios

### Ejercicio: Cálculo de valores

En este escenario, calcularás tanto el número total de lunas en el sistema solar como el número promedio de lunas que tiene un planeta.

In [9]:
# Planetas y lunas

lunas_planetas = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

In [10]:
lunas_planetas

{'mercury': 0,
 'venus': 0,
 'earth': 1,
 'mars': 2,
 'jupiter': 79,
 'saturn': 82,
 'uranus': 27,
 'neptune': 14,
 'pluto': 5,
 'haumea': 2,
 'makemake': 1,
 'eris': 1}

Los diccionarios de Python te permiten recuperar todos los valores y claves utilizando los métodos `values` y `keys`, respectivamente. Cada método devuelve una lista que contiene los datos, que luego se puede usar como una lista normal de Python. Puedes determinar el número de elementos mediante `len`, e iterar a través de él mediante un ciclo `for`.

Agrega el código a continuación para determinar el número de lunas. Comienza almacenando el valor `values` de `lunas_planetas` en una variable denominada `lunas`. A continuación, almacena el número de planetas en una variable denominada `planetass`.

In [11]:
# Añade el código para determinar el número de lunas.

# Obtenemos la lista de las lunas
# Almacenamos los resultados en una variable lunas
lunas = lunas_planetas.values()

# Obtenemos el total de planetas
# Almacenamos los resultados en una variable llamada years
planetas = len(lunas_planetas.keys())

print(lunas)
print(planetas)

dict_values([0, 0, 1, 2, 79, 82, 27, 14, 5, 2, 1, 1])
12

In [12]:
lunas_planetas.keys()

dict_keys(['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune', 'pluto', 'haumea', 'makemake', 'eris'])

In [13]:
# Calcula el total_moons agregando todas las lunas
# Almacena su valor en una variable llamada total_moons
contador = 0
for luna in lunas:
    contador = contador + luna
    print("llevamos " + str(contador) + " lunas.")

llevamos 0 lunas.
llevamos 0 lunas.
llevamos 1 lunas.
llevamos 3 lunas.
llevamos 82 lunas.
llevamos 164 lunas.
llevamos 191 lunas.
llevamos 205 lunas.
llevamos 210 lunas.
llevamos 212 lunas.
llevamos 213 lunas.
llevamos 214 lunas.

In [14]:
# Calcula el promedio dividiendo el total_moons por el número de planetas
prom = contador / planetas
print(prom)

17.833333333333332